.differences {
    padding-top: 80px;
    padding-bottom: 80px;

}

.grid-sec {
    display: grid;
    grid-template-columns: 0.20fr 2fr 0.20fr 2fr;
}

.differences h2 {
    text-align: center;
    margin-bottom: 80px;
    grid-row: 1/-1;
    grid-column: 1;
}

.differences .items {
    margin-bottom: 60px;
    justify-content: center;

}

.differences .items:nth-child(odd) {
    grid-row: 2;
    gap: 20px;
}

.differences .items img {
    margin-left: 40px;
    min-width: 100%;
}

.differences h3 {
    margin-bottom: 20px;
}

.differences .items p {
    max-width: 60ch;
    gap: 20px;
}

@media (max-width:1000px) {
    .differences .items p {
        font-size: 1.4rem;
    }
}

@media (max-width:800px) {
    .grid-sec {
        display: grid;
        grid-template-columns: 0.20fr 2fr;
    }

}

@media (max-width:600px) {
    .differences {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .differences h2 {
        font-size: 2.4rem;
    }

    .differences h3 {
        font-size: 2rem;
    }
    .differences .items p {
        font-size: 1.25rem;
    }
    .grid-sec {
        gap: 10px;
    }

}